/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

button {
    color: #fff;
    background-color: #1b6ec2;
    border-radius: 10px;
    margin: 5px;
    width: 100px;
}

input {
    width: 300px;
}

    input[type=checkbox] {
        width: 50px;
    }

label{
    width: 250px;
}
